---
## TODO DOC
admin_network: 192.168.101.0/24
## TODO DOC
box     : "swarm-coreos"

## TODO DOC
servers:
  - name    : "swarm-01"
    memory  : "3072"
    cpus    : "1"
    priv_ip : 192.168.101.101
  - name    : "swarm-02"
    memory  : "1024"
    cpus    : "1"
    priv_ip : 192.168.101.102
  - name    : "swarm-03"
    memory  : "1024"
    cpus    : "1"
    priv_ip : 192.168.101.103
