[Unit]
Description=Dockerized Registrator Service
PartOf=swarmer.service
After=docker.service consul.service
Requires=docker.service consul.service
[Service]
Restart=always
RestartSec=10s
ExecStartPre=-/opt/swarmer/registrator-manage rm
ExecStart=/opt/swarmer/registrator-manage start
ExecStop=/opt/swarmer/registrator-manage stop
