[Unit]
Description=Generates Consul Members
After=consul.service
Requires=consul.service
[Service]
ExecStart=/opt/scripts/consul/consul-manage members
[Install]
WantedBy=default.target
