[Unit]
Description=Consul Agent
Before=docker.service
After=consul.path user-config.target network-online.target
Wants=consul.path network-online.target
Requires=user-config.target
[Service]
Restart=always
ExecStart=/opt/scripts/consul/consul-manage start
ExecStop=/opt/scripts/consul/consul-manage stop
[Install]
WantedBy=default.target
