[Unit]
Description=Dockerized Registrator Service
After=docker-configurator.service docker.service consul.service
Requires=docker.service consul.service docker-configurator.service
[Service]
Restart=always
ExecStart=/opt/scripts/registrator/registrator-manage start
ExecStop=/opt/scripts/registrator/registrator-manage stop
[Install]
WantedBy=default.target
