[Unit]
Description=Private Docker Registry
PartOf=swarm.service
After=swarm.service
Requires=swarm.service consul.service
[Service]
Restart=always
RestartSec=10s
ExecStart=/opt/scripts/registry/start-registry
ExecStop=/usr/bin/docker stop registry
[Install]
WantedBy=default.target
