[Unit]
Description=Dnsmasq
PartOf=consul.service
After=docker.service consul.service
Requires=docker.service
[Service]
EnvironmentFile=-/etc/environment
Restart=on-failure
ExecStartPre=/usr/bin/mkdir -p /etc/systemd/resolved.conf.d
ExecStartPre=-/bin/sh -c 'rm /etc/systemd/resolved.conf.d/00-consul-dns.conf && systemctl restart systemd-resolved'
ExecStartPre=/opt/swarmer/dnsmasq-manifest.sh /tmp/dnsmasq.pod
ExecStart=/bin/sh -c '/usr/bin/rkt run  \
  --net=host \
  --pod-manifest /tmp/dnsmasq.pod \
  --uuid-file-save=/var/run/dnsmasq.uuid'
ExecStartPost=/bin/sh -c '\
  echo -e "[Resolve]\nDNS=${COREOS_PRIVATE_IPV4}" > /etc/systemd/resolved.conf.d/00-consul-dns.conf && \
  systemctl restart systemd-resolved;'
ExecStop=/usr/bin/machinectl kill "rkt-$(cat /var/run/dnsmasq.uuid)"
ExecStopPost=/bin/sh -c 'rm /etc/systemd/resolved.conf.d/00-consul-dns.conf && systemctl restart systemd-resolved'
