[Unit]
Description=Flocker Agent Service
PartOf=swarmer.service
After=swarmer.service consul.service
Before=swarm.service
[Service]
Restart=on-failure
ExecStartPre=/opt/swarmer/flocker-agent-manage init
ExecStart=/opt/swarmer/flocker-agent-manage start
ExecStop=/opt/swarmer/flocker-agent-manage stop
