[Unit]
Description=Swarmer
After=network-online.target
Requires=network-online.target
Before=consul.service docker.service swarm-manager.service swarm-agent.service dnsmasq.service registry.service registrator.service docker-configurator.service
Wants=consul.service docker.service swarm-manager.service swarm-agent.service dnsmasq.service registry.service registrator.service docker-configurator.service
[Service]
ExecStartPre=/opt/swarmer/swarmer-init
ExecStart=/bin/echo "Launching swarmer services"
ExecStop=/bin/echo "Stopping swarmer services"
[Install]
WantedBy=swarmer.target
