[Unit]
Description=Dockerized Swarm Agent Service
PartOf=swarmer.service
Requires=docker.service consul.service
After=docker.service consul.service
[Service]
Restart=on-failure
RestartSec=10s
ExecStart=/opt/swarmer/swarm-agent-manage start
ExecStop=/opt/swarmer/swarm-agent-manage stop
