[Unit]
Description=Dockerized Swarm Manager Service
PartOf=swarmer.service
Requires=docker.service consul.service
After=docker.service consul.service
[Service]
Restart=always
ExecStart=/opt/swarmer/swarm-manage start
ExecStop=/opt/swarmer/swarm-manage stop
