[Unit]
Description=Dockerized Registrator Service
After=consul.service
Requires=consul.path
[Service]
Restart=always
ExecStart=/opt/scripts/registrator/registrator-manage start
ExecStop=/opt/scripts/registrator/registrator-manage stop
[Install]
WantedBy=default.target
